lib/ext/HeliosWSClientSystem_1.10.1/WSAdConverter_v7.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="de.adtech.helios.AdConverter_v7.WSAdConverter_v7"
    targetNamespace="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:map="http://systinet.com/mapping/"
    xmlns:ns0="http://systinet.com/xsd/SchemaTypes/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/">
    <types>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://systinet.com/wsdl/de/adtech/helios/BannerManagement/"
            xmlns:ns0="http://systinet.com/xsd/SchemaTypes/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:tns="http://systinet.com/wsdl/de/adtech/helios/BannerManagement/"
            xmlns:xns5="http://systinet.com/containers/literal/ms.net"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import
            namespace="http://systinet.com/containers/literal/ms.net"/>
            <xsd:complexType name="Banner">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type
                        name="de.adtech.helios.BannerManagement.Banner"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="archiveDate" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element name="archiveStatus" type="xsd:int"/>
                    <xsd:element name="activeFilename" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="advertiserId" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="altText" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="artTypeId" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="bannerNumber" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="campaignId" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="changed" type="xsd:boolean"/>
                    <xsd:element name="cloneOf" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="createdAt" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element name="customSizeTypeId" type="xsd:int"/>
                    <xsd:element name="data" nillable="true"
                        type="xsd:base64Binary"/>
                    <xsd:element name="deleted" nillable="true"
                        type="xsd:boolean"/>
                    <xsd:element name="description" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="extId" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="fileType" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="id" nillable="true" type="xsd:long"/>
                    <xsd:element name="linkUrl" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="mainFileName" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="mainNetwork" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="maturityLevelId" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="name" nillable="true" type="xsd:string"/>
                    <xsd:element name="originalData" nillable="true"
                        type="xsd:base64Binary"/>
                    <xsd:element name="pos" nillable="true" type="xsd:long"/>
                    <xsd:element name="redirectUrl" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="reportingImageUrl" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="researchTypeId" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="sequenceNo" type="xsd:int"/>
                    <xsd:element name="sizeInByte" type="xsd:int"/>
                    <xsd:element name="sizeTypeId" type="xsd:int"/>
                    <xsd:element name="statusId" type="xsd:int"/>
                    <xsd:element name="styleTypeId" type="xsd:int"/>
                    <xsd:element name="subNetwork" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="thirdPartyTag" nillable="true"
                        type="xsd:boolean"/>
                    <xsd:element name="typeDescription" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="useCampaignAltText" type="xsd:boolean"/>
                    <xsd:element name="useCampaignDefaultLink"
                        type="xsd:boolean"/>
                    <xsd:element name="vendorId" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="versionNo" type="xsd:int"/>
                    <xsd:element name="weight" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BannerData">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type
                        name="de.adtech.helios.BannerManagement.BannerData"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="activeFilename" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="advertiserId" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="altText" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="archiveDate" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element name="archiveStatus" type="xsd:int"/>
                    <xsd:element name="artTypeId" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="bannerNumber" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="binaryBannerId" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="campaignId" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="changed" type="xsd:boolean"/>
                    <xsd:element name="cloneOf" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="createdAt" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element name="createdBy" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="customSizeTypeId" type="xsd:int"/>
                    <xsd:element name="deleted" nillable="true"
                        type="xsd:boolean"/>
                    <xsd:element name="description" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="extId" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="fileType" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="id" nillable="true" type="xsd:long"/>
                    <xsd:element name="lastModifiedAt" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element name="lastModifiedBy" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="linkUrl" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="mainFileName" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="mainNetwork" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="maturityLevelId" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="name" nillable="true" type="xsd:string"/>
                    <xsd:element name="pos" nillable="true" type="xsd:long"/>
                    <xsd:element name="redirectUrl" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="reportingImageUrl" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="researchTypeId" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="sequenceNo" type="xsd:int"/>
                    <xsd:element name="sizeInByte" type="xsd:int"/>
                    <xsd:element name="sizeTypeId" type="xsd:int"/>
                    <xsd:element name="statusId" type="xsd:int"/>
                    <xsd:element name="styleTypeId" type="xsd:int"/>
                    <xsd:element name="subNetwork" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="thirdPartyTag" nillable="true"
                        type="xsd:boolean"/>
                    <xsd:element name="typeDescription" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="useCampaignAltText" type="xsd:boolean"/>
                    <xsd:element name="useCampaignDefaultLink"
                        type="xsd:boolean"/>
                    <xsd:element name="vendorId" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="versionNo" type="xsd:int"/>
                    <xsd:element name="weight" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BinaryBanner">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type
                        name="de.adtech.helios.BannerManagement.BinaryBanner"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="activeFilename" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="advertiserId" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="altText" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="bannerNumber" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="campaignId" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="changed" type="xsd:boolean"/>
                    <xsd:element name="cloneOf" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="createdAt" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element name="customSizeTypeId" type="xsd:int"/>
                    <xsd:element name="data" nillable="true"
                        type="xsd:base64Binary"/>
                    <xsd:element name="deleted" nillable="true"
                        type="xsd:boolean"/>
                    <xsd:element name="description" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="extId" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="fileType" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="id" nillable="true" type="xsd:long"/>
                    <xsd:element name="linkUrl" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="mainFileName" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="mainNetwork" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="name" nillable="true" type="xsd:string"/>
                    <xsd:element name="originalData" nillable="true"
                        type="xsd:base64Binary"/>
                    <xsd:element name="pos" nillable="true" type="xsd:long"/>
                    <xsd:element name="redirectUrl" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="reportingImageUrl" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="sequenceNo" type="xsd:int"/>
                    <xsd:element name="sizeInByte" type="xsd:int"/>
                    <xsd:element name="sizeTypeId" type="xsd:int"/>
                    <xsd:element name="statusId" type="xsd:int"/>
                    <xsd:element name="styleTypeId" type="xsd:int"/>
                    <xsd:element name="subNetwork" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="thirdPartyTag" nillable="true"
                        type="xsd:boolean"/>
                    <xsd:element name="typeDescription" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="useCampaignAltText" type="xsd:boolean"/>
                    <xsd:element name="useCampaignDefaultLink"
                        type="xsd:boolean"/>
                    <xsd:element name="vendorId" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="versionNo" type="xsd:int"/>
                    <xsd:element name="weight" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://systinet.com/containers/literal/ms.net"
            xmlns:map="http://systinet.com/mapping/"
            xmlns:ns0="http://systinet.com/xsd/SchemaTypes/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:tns="http://systinet.com/containers/literal/ms.net"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="Collection">
                <xsd:sequence>
                    <xsd:element name="Items" type="tns:ArrayOfAnyType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="List">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:Collection"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ArrayList">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:List"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="LinkedList">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:List"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Vector">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:List"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Set">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:Collection"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="HashSet">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:Set"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="SortedSet">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:Set"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="TreeSet">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:SortedSet"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Map">
                <xsd:sequence>
                    <xsd:element name="Keys" type="tns:ArrayOfAnyType"/>
                    <xsd:element name="Values" type="tns:ArrayOfAnyType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Hashtable">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:Map"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Properties">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:Hashtable"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="HashMap">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:Map"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="SortedMap">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:Map"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="TreeMap">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:SortedMap"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Iterator">
                <xsd:sequence>
                    <xsd:element name="Data" type="tns:ArrayOfAnyType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Enumeration">
                <xsd:sequence>
                    <xsd:element name="Data" type="tns:ArrayOfAnyType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAnyType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Item"
                        nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://systinet.com/xsd/SchemaTypes/"
            xmlns:map="http://systinet.com/mapping/"
            xmlns:ns0="http://systinet.com/xsd/SchemaTypes/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:tns="http://systinet.com/xsd/SchemaTypes/"
            xmlns:xns4="http://systinet.com/wsdl/de/adtech/helios/BannerManagement/"
            xmlns:xns5="http://systinet.com/containers/literal/ms.net"
            xmlns:xns6="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import
            namespace="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/"/>
            <xsd:import
            namespace="http://systinet.com/containers/literal/ms.net"/>
            <xsd:import
            namespace="http://systinet.com/wsdl/de/adtech/helios/BannerManagement/"/>
            <xsd:element name="zipStream" nillable="true"
                type="xsd:base64Binary"/>
            <xsd:element name="fileName" nillable="true" type="xsd:string"/>
            <xsd:element name="COUNTER_URL" nillable="true" type="xsd:string"/>
            <xsd:element name="CREATE_LAYER" nillable="true" type="xsd:string"/>
            <xsd:element name="LAYER_POS_X" type="xsd:int"/>
            <xsd:element name="LAYER_POS_Y" type="xsd:int"/>
            <xsd:element name="ZINDEX" nillable="true" type="xsd:string"/>
            <xsd:element name="LAYER_CLOSE_AFTER" type="xsd:int"/>
            <xsd:element name="EXPANDABLE" type="xsd:boolean"/>
            <xsd:element name="ManualLayerRezise" type="xsd:boolean"/>
            <xsd:element name="EXPAND_DIRECTION" nillable="true"
                type="xsd:string"/>
            <xsd:element name="EXPAND_LEFT" nillable="true" type="xsd:string"/>
            <xsd:element name="EXPAND_RIGHT" nillable="true" type="xsd:string"/>
            <xsd:element name="EXPAND_TOP" nillable="true" type="xsd:string"/>
            <xsd:element name="EXPAND_BOTTOM" nillable="true"
                type="xsd:string"/>
            <xsd:element name="EXPANDED_HEIGHT" type="xsd:int"/>
            <xsd:element name="EXPANDED_WIDTH" type="xsd:int"/>
            <xsd:element name="FLASH_HEIGHT" type="xsd:int"/>
            <xsd:element name="FLASH_WIDTH" type="xsd:int"/>
            <xsd:element name="FLASH_FILENAME" nillable="true"
                type="xsd:string"/>
            <xsd:element name="WINDOW_MODE" nillable="true" type="xsd:string"/>
            <xsd:element name="ALT_IMAGE_FILENAME" nillable="true"
                type="xsd:string"/>
            <xsd:element name="ALT_IMAGE_LINK_URL" nillable="true"
                type="xsd:string"/>
            <xsd:element name="ALT_IMAGE_HEIGHT" type="xsd:int"/>
            <xsd:element name="ALT_IMAGE_WIDTH" type="xsd:int"/>
            <xsd:element name="ALT_IMAGE_CREATE_LAYER" type="xsd:boolean"/>
            <xsd:element name="TRANSPARENT" type="xsd:boolean"/>
            <xsd:element name="ALT_IMAGE_URL" nillable="true"
                type="xsd:string"/>
            <xsd:element name="COMPRESS" type="xsd:boolean"/>
            <xsd:element name="ClickTAG" nillable="true" type="xsd:string"/>
            <xsd:element name="ClickTAG1" nillable="true" type="xsd:string"/>
            <xsd:element name="ClickTAG2" nillable="true" type="xsd:string"/>
            <xsd:element name="ClickTAG3" nillable="true" type="xsd:string"/>
            <xsd:element name="ClickTAG4" nillable="true" type="xsd:string"/>
            <xsd:element name="ClickTAG5" nillable="true" type="xsd:string"/>
            <xsd:element name="ClickTAG6" nillable="true" type="xsd:string"/>
            <xsd:element name="ClickTAG7" nillable="true" type="xsd:string"/>
            <xsd:element name="ClickTAG8" nillable="true" type="xsd:string"/>
            <xsd:element name="ClickTAG9" nillable="true" type="xsd:string"/>
            <xsd:element name="Banner_Response" nillable="true"
                type="xns4:Banner"/>
            <xsd:element name="idoox-java-mapping.java.lang.Exception"
                nillable="true" type="xsd:anyType"/>
            <xsd:element name="username" nillable="true" type="xsd:string"/>
            <xsd:element name="password" nillable="true" type="xsd:string"/>
            <xsd:element name="swfFile" nillable="true"
                type="xsd:base64Binary"/>
            <xsd:element name="parameters" nillable="true" type="xns5:HashMap"/>
            <xsd:element name="source" nillable="true" type="xns4:Banner"/>
            <xsd:element name="WSAdConverterException" nillable="true"
                type="xns6:WSAdConverterException"/>
            <xsd:element name="bannerText" nillable="true" type="xsd:string"/>
            <xsd:element name="thirdPartyTagScript" nillable="true"
                type="xsd:string"/>
            <xsd:element name="XMLBannerTempId" nillable="true"
                type="xsd:long"/>
            <xsd:element name="variableMap" nillable="true"
                type="xns5:HashMap"/>
            <xsd:element name="width" type="xsd:int"/>
            <xsd:element name="height" type="xsd:int"/>
            <xsd:element name="x" type="xsd:int"/>
            <xsd:element name="y" type="xsd:int"/>
            <xsd:element name="width_1" nillable="true" type="xsd:string"/>
            <xsd:element name="height_2" nillable="true" type="xsd:string"/>
            <xsd:element name="posTop" nillable="true" type="xsd:string"/>
            <xsd:element name="posLeft" nillable="true" type="xsd:string"/>
            <xsd:element name="title" nillable="true" type="xsd:string"/>
            <xsd:element name="type" nillable="true" type="xsd:string"/>
            <xsd:element name="winReuse" type="xsd:boolean"/>
            <xsd:element name="width_3" nillable="true" type="xsd:string"/>
            <xsd:element name="height_4" nillable="true" type="xsd:string"/>
            <xsd:element name="bann" nillable="true" type="xns4:Banner"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/"
            xmlns:ns0="http://systinet.com/xsd/SchemaTypes/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="WSAdConverterException">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type
                        name="de.adtech.helios.AdConverter_v7.WSAdConverterException"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="message" nillable="true"
                        type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="Exception">
        <part element="ns0:idoox-java-mapping.java.lang.Exception"
            name="idoox-java-mapping.java.lang.Exception"/>
    </message>
    <message name="WSAdConverterException">
        <part element="ns0:WSAdConverterException"
            name="WSAdConverterException"/>
    </message>
    <message name="WSAdConverter_v7_createFlashWithFallbackImageByLogin_Request_Soap">
        <part element="ns0:zipStream" name="zipStream"/>
        <part element="ns0:fileName" name="fileName"/>
        <part element="ns0:COUNTER_URL" name="COUNTER_URL"/>
        <part element="ns0:CREATE_LAYER" name="CREATE_LAYER"/>
        <part element="ns0:LAYER_POS_X" name="LAYER_POS_X"/>
        <part element="ns0:LAYER_POS_Y" name="LAYER_POS_Y"/>
        <part element="ns0:ZINDEX" name="ZINDEX"/>
        <part element="ns0:LAYER_CLOSE_AFTER" name="LAYER_CLOSE_AFTER"/>
        <part element="ns0:EXPANDABLE" name="EXPANDABLE"/>
        <part element="ns0:ManualLayerRezise" name="ManualLayerRezise"/>
        <part element="ns0:EXPAND_DIRECTION" name="EXPAND_DIRECTION"/>
        <part element="ns0:EXPAND_LEFT" name="EXPAND_LEFT"/>
        <part element="ns0:EXPAND_RIGHT" name="EXPAND_RIGHT"/>
        <part element="ns0:EXPAND_TOP" name="EXPAND_TOP"/>
        <part element="ns0:EXPAND_BOTTOM" name="EXPAND_BOTTOM"/>
        <part element="ns0:EXPANDED_HEIGHT" name="EXPANDED_HEIGHT"/>
        <part element="ns0:EXPANDED_WIDTH" name="EXPANDED_WIDTH"/>
        <part element="ns0:FLASH_HEIGHT" name="FLASH_HEIGHT"/>
        <part element="ns0:FLASH_WIDTH" name="FLASH_WIDTH"/>
        <part element="ns0:FLASH_FILENAME" name="FLASH_FILENAME"/>
        <part element="ns0:WINDOW_MODE" name="WINDOW_MODE"/>
        <part element="ns0:ALT_IMAGE_FILENAME" name="ALT_IMAGE_FILENAME"/>
        <part element="ns0:ALT_IMAGE_LINK_URL" name="ALT_IMAGE_LINK_URL"/>
        <part element="ns0:ALT_IMAGE_HEIGHT" name="ALT_IMAGE_HEIGHT"/>
        <part element="ns0:ALT_IMAGE_WIDTH" name="ALT_IMAGE_WIDTH"/>
        <part element="ns0:ALT_IMAGE_CREATE_LAYER"
            name="ALT_IMAGE_CREATE_LAYER"/>
        <part element="ns0:TRANSPARENT" name="TRANSPARENT"/>
        <part element="ns0:ALT_IMAGE_URL" name="ALT_IMAGE_URL"/>
        <part element="ns0:COMPRESS" name="COMPRESS"/>
        <part element="ns0:ClickTAG" name="ClickTAG"/>
        <part element="ns0:ClickTAG1" name="ClickTAG1"/>
        <part element="ns0:ClickTAG2" name="ClickTAG2"/>
        <part element="ns0:ClickTAG3" name="ClickTAG3"/>
        <part element="ns0:ClickTAG4" name="ClickTAG4"/>
        <part element="ns0:ClickTAG5" name="ClickTAG5"/>
        <part element="ns0:ClickTAG6" name="ClickTAG6"/>
        <part element="ns0:ClickTAG7" name="ClickTAG7"/>
        <part element="ns0:ClickTAG8" name="ClickTAG8"/>
        <part element="ns0:ClickTAG9" name="ClickTAG9"/>
        <part element="ns0:username" name="username"/>
        <part element="ns0:password" name="password"/>
    </message>
    <message name="WSAdConverter_v7_createFlashWithFallbackImageByLogin_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <message name="WSAdConverter_v7_createFlashWithFallbackImage_Request_Soap">
        <part element="ns0:zipStream" name="zipStream"/>
        <part element="ns0:fileName" name="fileName"/>
        <part element="ns0:COUNTER_URL" name="COUNTER_URL"/>
        <part element="ns0:CREATE_LAYER" name="CREATE_LAYER"/>
        <part element="ns0:LAYER_POS_X" name="LAYER_POS_X"/>
        <part element="ns0:LAYER_POS_Y" name="LAYER_POS_Y"/>
        <part element="ns0:ZINDEX" name="ZINDEX"/>
        <part element="ns0:LAYER_CLOSE_AFTER" name="LAYER_CLOSE_AFTER"/>
        <part element="ns0:EXPANDABLE" name="EXPANDABLE"/>
        <part element="ns0:ManualLayerRezise" name="ManualLayerRezise"/>
        <part element="ns0:EXPAND_DIRECTION" name="EXPAND_DIRECTION"/>
        <part element="ns0:EXPAND_LEFT" name="EXPAND_LEFT"/>
        <part element="ns0:EXPAND_RIGHT" name="EXPAND_RIGHT"/>
        <part element="ns0:EXPAND_TOP" name="EXPAND_TOP"/>
        <part element="ns0:EXPAND_BOTTOM" name="EXPAND_BOTTOM"/>
        <part element="ns0:EXPANDED_HEIGHT" name="EXPANDED_HEIGHT"/>
        <part element="ns0:EXPANDED_WIDTH" name="EXPANDED_WIDTH"/>
        <part element="ns0:FLASH_HEIGHT" name="FLASH_HEIGHT"/>
        <part element="ns0:FLASH_WIDTH" name="FLASH_WIDTH"/>
        <part element="ns0:FLASH_FILENAME" name="FLASH_FILENAME"/>
        <part element="ns0:WINDOW_MODE" name="WINDOW_MODE"/>
        <part element="ns0:ALT_IMAGE_FILENAME" name="ALT_IMAGE_FILENAME"/>
        <part element="ns0:ALT_IMAGE_LINK_URL" name="ALT_IMAGE_LINK_URL"/>
        <part element="ns0:ALT_IMAGE_HEIGHT" name="ALT_IMAGE_HEIGHT"/>
        <part element="ns0:ALT_IMAGE_WIDTH" name="ALT_IMAGE_WIDTH"/>
        <part element="ns0:ALT_IMAGE_CREATE_LAYER"
            name="ALT_IMAGE_CREATE_LAYER"/>
        <part element="ns0:TRANSPARENT" name="TRANSPARENT"/>
        <part element="ns0:ALT_IMAGE_URL" name="ALT_IMAGE_URL"/>
        <part element="ns0:COMPRESS" name="COMPRESS"/>
        <part element="ns0:ClickTAG" name="ClickTAG"/>
        <part element="ns0:ClickTAG1" name="ClickTAG1"/>
        <part element="ns0:ClickTAG2" name="ClickTAG2"/>
        <part element="ns0:ClickTAG3" name="ClickTAG3"/>
        <part element="ns0:ClickTAG4" name="ClickTAG4"/>
        <part element="ns0:ClickTAG5" name="ClickTAG5"/>
        <part element="ns0:ClickTAG6" name="ClickTAG6"/>
        <part element="ns0:ClickTAG7" name="ClickTAG7"/>
        <part element="ns0:ClickTAG8" name="ClickTAG8"/>
        <part element="ns0:ClickTAG9" name="ClickTAG9"/>
    </message>
    <message name="WSAdConverter_v7_createFlashWithFallbackImage_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <message name="WSAdConverter_v7_createSimpleFlashBannerByLogin_Request_Soap">
        <part element="ns0:swfFile" name="swfFile"/>
        <part element="ns0:fileName" name="fileName"/>
        <part element="ns0:parameters" name="parameters"/>
        <part element="ns0:source" name="source"/>
        <part element="ns0:username" name="username"/>
        <part element="ns0:password" name="password"/>
    </message>
    <message name="WSAdConverter_v7_createSimpleFlashBannerByLogin_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <message name="WSAdConverter_v7_createSimpleFlashBanner_Request_Soap">
        <part element="ns0:swfFile" name="swfFile"/>
        <part element="ns0:fileName" name="fileName"/>
        <part element="ns0:parameters" name="parameters"/>
        <part element="ns0:source" name="source"/>
    </message>
    <message name="WSAdConverter_v7_createSimpleFlashBanner_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <message name="WSAdConverter_v7_createTextualBannerByLogin_Request_Soap">
        <part element="ns0:bannerText" name="bannerText"/>
        <part element="ns0:username" name="username"/>
        <part element="ns0:password" name="password"/>
    </message>
    <message name="WSAdConverter_v7_createTextualBannerByLogin_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <message name="WSAdConverter_v7_createTextualBanner_Request_Soap">
        <part element="ns0:bannerText" name="bannerText"/>
    </message>
    <message name="WSAdConverter_v7_createTextualBanner_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <message name="WSAdConverter_v7_createThirdPartyBannerByLogin_Request_Soap">
        <part element="ns0:thirdPartyTagScript" name="thirdPartyTagScript"/>
        <part element="ns0:username" name="username"/>
        <part element="ns0:password" name="password"/>
    </message>
    <message name="WSAdConverter_v7_createThirdPartyBannerByLogin_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <message name="WSAdConverter_v7_createThirdPartyBanner_Request_Soap">
        <part element="ns0:thirdPartyTagScript" name="thirdPartyTagScript"/>
    </message>
    <message name="WSAdConverter_v7_createThirdPartyBanner_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <message name="WSAdConverter_v7_makeBannerFromXMLTemplateByLogin_Request_Soap">
        <part element="ns0:XMLBannerTempId" name="XMLBannerTempId"/>
        <part element="ns0:variableMap" name="variableMap"/>
        <part element="ns0:username" name="username"/>
        <part element="ns0:password" name="password"/>
    </message>
    <message name="WSAdConverter_v7_makeBannerFromXMLTemplateByLogin_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <message name="WSAdConverter_v7_makeBannerFromXMLTemplate_Request_Soap">
        <part element="ns0:XMLBannerTempId" name="XMLBannerTempId"/>
        <part element="ns0:variableMap" name="variableMap"/>
    </message>
    <message name="WSAdConverter_v7_makeBannerFromXMLTemplate_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <message name="WSAdConverter_v7_makeHTMLBannerFromImageBannerByLogin_Request_Soap">
        <part element="ns0:source" name="source"/>
        <part element="ns0:username" name="username"/>
        <part element="ns0:password" name="password"/>
    </message>
    <message name="WSAdConverter_v7_makeHTMLBannerFromImageBannerByLogin_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <message name="WSAdConverter_v7_makeHTMLBannerFromImageBanner_Request_Soap">
        <part element="ns0:source" name="source"/>
    </message>
    <message name="WSAdConverter_v7_makeHTMLBannerFromImageBanner_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <message name="WSAdConverter_v7_makeLAYERBannerFromHtmlBannerByLogin_Request_Soap">
        <part element="ns0:source" name="source"/>
        <part element="ns0:width" name="width"/>
        <part element="ns0:height" name="height"/>
        <part element="ns0:x" name="x"/>
        <part element="ns0:y" name="y"/>
        <part element="ns0:username" name="username"/>
        <part element="ns0:password" name="password"/>
    </message>
    <message name="WSAdConverter_v7_makeLAYERBannerFromHtmlBannerByLogin_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <message name="WSAdConverter_v7_makeLAYERBannerFromHtmlBanner_Request_Soap">
        <part element="ns0:source" name="source"/>
        <part element="ns0:width" name="width"/>
        <part element="ns0:height" name="height"/>
        <part element="ns0:x" name="x"/>
        <part element="ns0:y" name="y"/>
    </message>
    <message name="WSAdConverter_v7_makeLAYERBannerFromHtmlBanner_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <message name="WSAdConverter_v7_makePOPUPBannerFromHtmlBannerByLogin_Request_Soap">
        <part element="ns0:source" name="source"/>
        <part element="ns0:width_3" name="width"/>
        <part element="ns0:height_4" name="height"/>
        <part element="ns0:posTop" name="posTop"/>
        <part element="ns0:posLeft" name="posLeft"/>
        <part element="ns0:title" name="title"/>
        <part element="ns0:type" name="type"/>
        <part element="ns0:winReuse" name="winReuse"/>
        <part element="ns0:username" name="username"/>
        <part element="ns0:password" name="password"/>
    </message>
    <message name="WSAdConverter_v7_makePOPUPBannerFromHtmlBannerByLogin_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <message name="WSAdConverter_v7_makePOPUPBannerFromHtmlBanner_Request_Soap">
        <part element="ns0:source" name="source"/>
        <part element="ns0:width_1" name="width"/>
        <part element="ns0:height_2" name="height"/>
        <part element="ns0:posTop" name="posTop"/>
        <part element="ns0:posLeft" name="posLeft"/>
        <part element="ns0:title" name="title"/>
        <part element="ns0:type" name="type"/>
        <part element="ns0:winReuse" name="winReuse"/>
    </message>
    <message name="WSAdConverter_v7_makePOPUPBannerFromHtmlBanner_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <message name="WSAdConverter_v7_makeRichMediaBannerByLogin_Request_Soap">
        <part element="ns0:bann" name="bann"/>
        <part element="ns0:username" name="username"/>
        <part element="ns0:password" name="password"/>
    </message>
    <message name="WSAdConverter_v7_makeRichMediaBannerByLogin_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <message name="WSAdConverter_v7_makeRichMediaBanner_Request_Soap">
        <part element="ns0:bann" name="bann"/>
    </message>
    <message name="WSAdConverter_v7_makeRichMediaBanner_Response_Soap">
        <part element="ns0:Banner_Response" name="response"/>
    </message>
    <portType name="WSAdConverter_v7">
        <operation name="createFlashWithFallbackImage"
            parameterOrder="zipStream fileName COUNTER_URL CREATE_LAYER LAYER_POS_X LAYER_POS_Y ZINDEX LAYER_CLOSE_AFTER EXPANDABLE ManualLayerRezise EXPAND_DIRECTION EXPAND_LEFT EXPAND_RIGHT EXPAND_TOP EXPAND_BOTTOM EXPANDED_HEIGHT EXPANDED_WIDTH FLASH_HEIGHT FLASH_WIDTH FLASH_FILENAME WINDOW_MODE ALT_IMAGE_FILENAME ALT_IMAGE_LINK_URL ALT_IMAGE_HEIGHT ALT_IMAGE_WIDTH ALT_IMAGE_CREATE_LAYER TRANSPARENT ALT_IMAGE_URL COMPRESS ClickTAG ClickTAG1 ClickTAG2 ClickTAG3 ClickTAG4 ClickTAG5 ClickTAG6 ClickTAG7 ClickTAG8 ClickTAG9">
            <input
            message="tns:WSAdConverter_v7_createFlashWithFallbackImage_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_createFlashWithFallbackImage_Response_Soap"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
        <operation name="createFlashWithFallbackImageByLogin"
            parameterOrder="zipStream fileName COUNTER_URL CREATE_LAYER LAYER_POS_X LAYER_POS_Y ZINDEX LAYER_CLOSE_AFTER EXPANDABLE ManualLayerRezise EXPAND_DIRECTION EXPAND_LEFT EXPAND_RIGHT EXPAND_TOP EXPAND_BOTTOM EXPANDED_HEIGHT EXPANDED_WIDTH FLASH_HEIGHT FLASH_WIDTH FLASH_FILENAME WINDOW_MODE ALT_IMAGE_FILENAME ALT_IMAGE_LINK_URL ALT_IMAGE_HEIGHT ALT_IMAGE_WIDTH ALT_IMAGE_CREATE_LAYER TRANSPARENT ALT_IMAGE_URL COMPRESS ClickTAG ClickTAG1 ClickTAG2 ClickTAG3 ClickTAG4 ClickTAG5 ClickTAG6 ClickTAG7 ClickTAG8 ClickTAG9 username password">
            <input
            message="tns:WSAdConverter_v7_createFlashWithFallbackImageByLogin_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_createFlashWithFallbackImageByLogin_Response_Soap"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
        <operation name="createSimpleFlashBanner"
            parameterOrder="swfFile fileName parameters source">
            <input
            message="tns:WSAdConverter_v7_createSimpleFlashBanner_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_createSimpleFlashBanner_Response_Soap"/>
            <fault message="tns:WSAdConverterException"
                name="WSAdConverterException"/>
        </operation>
        <operation name="createSimpleFlashBannerByLogin"
            parameterOrder="swfFile fileName parameters source username password">
            <input
            message="tns:WSAdConverter_v7_createSimpleFlashBannerByLogin_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_createSimpleFlashBannerByLogin_Response_Soap"/>
            <fault message="tns:WSAdConverterException"
                name="WSAdConverterException"/>
        </operation>
        <operation name="createTextualBanner" parameterOrder="bannerText">
            <input
            message="tns:WSAdConverter_v7_createTextualBanner_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_createTextualBanner_Response_Soap"/>
            <fault message="tns:WSAdConverterException"
                name="WSAdConverterException"/>
        </operation>
        <operation name="createTextualBannerByLogin"
            parameterOrder="bannerText username password">
            <input
            message="tns:WSAdConverter_v7_createTextualBannerByLogin_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_createTextualBannerByLogin_Response_Soap"/>
            <fault message="tns:WSAdConverterException"
                name="WSAdConverterException"/>
        </operation>
        <operation name="createThirdPartyBanner"
            parameterOrder="thirdPartyTagScript">
            <input
            message="tns:WSAdConverter_v7_createThirdPartyBanner_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_createThirdPartyBanner_Response_Soap"/>
            <fault message="tns:WSAdConverterException"
                name="WSAdConverterException"/>
        </operation>
        <operation name="createThirdPartyBannerByLogin"
            parameterOrder="thirdPartyTagScript username password">
            <input
            message="tns:WSAdConverter_v7_createThirdPartyBannerByLogin_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_createThirdPartyBannerByLogin_Response_Soap"/>
            <fault message="tns:WSAdConverterException"
                name="WSAdConverterException"/>
        </operation>
        <operation name="makeBannerFromXMLTemplate"
            parameterOrder="XMLBannerTempId variableMap">
            <input
            message="tns:WSAdConverter_v7_makeBannerFromXMLTemplate_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_makeBannerFromXMLTemplate_Response_Soap"/>
            <fault message="tns:WSAdConverterException"
                name="WSAdConverterException"/>
        </operation>
        <operation name="makeBannerFromXMLTemplateByLogin"
            parameterOrder="XMLBannerTempId variableMap username password">
            <input
            message="tns:WSAdConverter_v7_makeBannerFromXMLTemplateByLogin_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_makeBannerFromXMLTemplateByLogin_Response_Soap"/>
            <fault message="tns:WSAdConverterException"
                name="WSAdConverterException"/>
        </operation>
        <operation name="makeHTMLBannerFromImageBanner" parameterOrder="source">
            <input
            message="tns:WSAdConverter_v7_makeHTMLBannerFromImageBanner_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_makeHTMLBannerFromImageBanner_Response_Soap"/>
            <fault message="tns:WSAdConverterException"
                name="WSAdConverterException"/>
        </operation>
        <operation name="makeHTMLBannerFromImageBannerByLogin"
            parameterOrder="source username password">
            <input
            message="tns:WSAdConverter_v7_makeHTMLBannerFromImageBannerByLogin_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_makeHTMLBannerFromImageBannerByLogin_Response_Soap"/>
            <fault message="tns:WSAdConverterException"
                name="WSAdConverterException"/>
        </operation>
        <operation name="makeLAYERBannerFromHtmlBanner"
            parameterOrder="source width height x y">
            <input
            message="tns:WSAdConverter_v7_makeLAYERBannerFromHtmlBanner_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_makeLAYERBannerFromHtmlBanner_Response_Soap"/>
            <fault message="tns:WSAdConverterException"
                name="WSAdConverterException"/>
        </operation>
        <operation name="makeLAYERBannerFromHtmlBannerByLogin"
            parameterOrder="source width height x y username password">
            <input
            message="tns:WSAdConverter_v7_makeLAYERBannerFromHtmlBannerByLogin_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_makeLAYERBannerFromHtmlBannerByLogin_Response_Soap"/>
            <fault message="tns:WSAdConverterException"
                name="WSAdConverterException"/>
        </operation>
        <operation name="makePOPUPBannerFromHtmlBanner"
            parameterOrder="source width height posTop posLeft title type winReuse">
            <input
            message="tns:WSAdConverter_v7_makePOPUPBannerFromHtmlBanner_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_makePOPUPBannerFromHtmlBanner_Response_Soap"/>
            <fault message="tns:WSAdConverterException"
                name="WSAdConverterException"/>
        </operation>
        <operation name="makePOPUPBannerFromHtmlBannerByLogin"
            parameterOrder="source width height posTop posLeft title type winReuse username password">
            <input
            message="tns:WSAdConverter_v7_makePOPUPBannerFromHtmlBannerByLogin_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_makePOPUPBannerFromHtmlBannerByLogin_Response_Soap"/>
            <fault message="tns:WSAdConverterException"
                name="WSAdConverterException"/>
        </operation>
        <operation name="makeRichMediaBanner" parameterOrder="bann">
            <input
            message="tns:WSAdConverter_v7_makeRichMediaBanner_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_makeRichMediaBanner_Response_Soap"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
        <operation name="makeRichMediaBannerByLogin"
            parameterOrder="bann username password">
            <input
            message="tns:WSAdConverter_v7_makeRichMediaBannerByLogin_Request_Soap"/>
            <output
            message="tns:WSAdConverter_v7_makeRichMediaBannerByLogin_Response_Soap"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
    </portType>
    <binding name="WSAdConverter_v7" type="tns:WSAdConverter_v7">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createFlashWithFallbackImage">
            <map:java-operation name="createFlashWithFallbackImage"
                signature="KFtCTGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7SUlMamF2YS9sYW5nL1N0cmluZztJWlpMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztJSUlJTGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7SUlaWkxqYXZhL2xhbmcvU3RyaW5nO1pMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZzspTGRlL2FkdGVjaC9oZWxpb3MvQmFubmVyTWFuYWdlbWVudC9CYW5uZXI7">
                <map:fault java-type="java.lang.Exception" name="Exception"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#createFlashWithFallbackImage?KFtCTGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7SUlMamF2YS9sYW5nL1N0cmluZztJWlpMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztJSUlJTGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7SUlaWkxqYXZhL2xhbmcvU3RyaW5nO1pMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZzspTGRlL2FkdGVjaC9oZWxpb3MvQmFubmVyTWFuYWdlbWVudC9CYW5uZXI7"
                style="document"/>
            <input>
                <soap:body
                    parts="zipStream fileName COUNTER_URL CREATE_LAYER LAYER_POS_X LAYER_POS_Y ZINDEX LAYER_CLOSE_AFTER EXPANDABLE ManualLayerRezise EXPAND_DIRECTION EXPAND_LEFT EXPAND_RIGHT EXPAND_TOP EXPAND_BOTTOM EXPANDED_HEIGHT EXPANDED_WIDTH FLASH_HEIGHT FLASH_WIDTH FLASH_FILENAME WINDOW_MODE ALT_IMAGE_FILENAME ALT_IMAGE_LINK_URL ALT_IMAGE_HEIGHT ALT_IMAGE_WIDTH ALT_IMAGE_CREATE_LAYER TRANSPARENT ALT_IMAGE_URL COMPRESS ClickTAG ClickTAG1 ClickTAG2 ClickTAG3 ClickTAG4 ClickTAG5 ClickTAG6 ClickTAG7 ClickTAG8 ClickTAG9"
                    use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="createFlashWithFallbackImageByLogin">
            <map:java-operation name="createFlashWithFallbackImageByLogin"
                signature="KFtCTGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7SUlMamF2YS9sYW5nL1N0cmluZztJWlpMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztJSUlJTGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7SUlaWkxqYXZhL2xhbmcvU3RyaW5nO1pMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZzspTGRlL2FkdGVjaC9oZWxpb3MvQmFubmVyTWFuYWdlbWVudC9CYW5uZXI7">
                <map:fault java-type="java.lang.Exception" name="Exception"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#createFlashWithFallbackImageByLogin?KFtCTGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7SUlMamF2YS9sYW5nL1N0cmluZztJWlpMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztJSUlJTGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7SUlaWkxqYXZhL2xhbmcvU3RyaW5nO1pMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZzspTGRlL2FkdGVjaC9oZWxpb3MvQmFubmVyTWFuYWdlbWVudC9CYW5uZXI7"
                style="document"/>
            <input>
                <soap:body
                    parts="zipStream fileName COUNTER_URL CREATE_LAYER LAYER_POS_X LAYER_POS_Y ZINDEX LAYER_CLOSE_AFTER EXPANDABLE ManualLayerRezise EXPAND_DIRECTION EXPAND_LEFT EXPAND_RIGHT EXPAND_TOP EXPAND_BOTTOM EXPANDED_HEIGHT EXPANDED_WIDTH FLASH_HEIGHT FLASH_WIDTH FLASH_FILENAME WINDOW_MODE ALT_IMAGE_FILENAME ALT_IMAGE_LINK_URL ALT_IMAGE_HEIGHT ALT_IMAGE_WIDTH ALT_IMAGE_CREATE_LAYER TRANSPARENT ALT_IMAGE_URL COMPRESS ClickTAG ClickTAG1 ClickTAG2 ClickTAG3 ClickTAG4 ClickTAG5 ClickTAG6 ClickTAG7 ClickTAG8 ClickTAG9 username password"
                    use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="createSimpleFlashBanner">
            <map:java-operation name="createSimpleFlashBanner"
                signature="KFtCTGphdmEvbGFuZy9TdHJpbmc7TGphdmEvdXRpbC9IYXNoTWFwO0xkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs=">
                <map:fault
                    java-type="de.adtech.helios.AdConverter_v7.WSAdConverterException"
                    name="WSAdConverterException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#createSimpleFlashBanner?KFtCTGphdmEvbGFuZy9TdHJpbmc7TGphdmEvdXRpbC9IYXNoTWFwO0xkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs="
                style="document"/>
            <input>
                <soap:body parts="swfFile fileName parameters source"
                    use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSAdConverterException">
                <soap:fault name="WSAdConverterException" use="literal"/>
            </fault>
        </operation>
        <operation name="createSimpleFlashBannerByLogin">
            <map:java-operation name="createSimpleFlashBannerByLogin"
                signature="KFtCTGphdmEvbGFuZy9TdHJpbmc7TGphdmEvdXRpbC9IYXNoTWFwO0xkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs=">
                <map:fault
                    java-type="de.adtech.helios.AdConverter_v7.WSAdConverterException"
                    name="WSAdConverterException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#createSimpleFlashBannerByLogin?KFtCTGphdmEvbGFuZy9TdHJpbmc7TGphdmEvdXRpbC9IYXNoTWFwO0xkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs="
                style="document"/>
            <input>
                <soap:body
                    parts="swfFile fileName parameters source username password"
                    use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSAdConverterException">
                <soap:fault name="WSAdConverterException" use="literal"/>
            </fault>
        </operation>
        <operation name="createTextualBanner">
            <map:java-operation name="createTextualBanner"
                signature="KExqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs=">
                <map:fault
                    java-type="de.adtech.helios.AdConverter_v7.WSAdConverterException"
                    name="WSAdConverterException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#createTextualBanner?KExqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs="
                style="document"/>
            <input>
                <soap:body parts="bannerText" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSAdConverterException">
                <soap:fault name="WSAdConverterException" use="literal"/>
            </fault>
        </operation>
        <operation name="createTextualBannerByLogin">
            <map:java-operation name="createTextualBannerByLogin"
                signature="KExqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs=">
                <map:fault
                    java-type="de.adtech.helios.AdConverter_v7.WSAdConverterException"
                    name="WSAdConverterException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#createTextualBannerByLogin?KExqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs="
                style="document"/>
            <input>
                <soap:body parts="bannerText username password" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSAdConverterException">
                <soap:fault name="WSAdConverterException" use="literal"/>
            </fault>
        </operation>
        <operation name="createThirdPartyBanner">
            <map:java-operation name="createThirdPartyBanner"
                signature="KExqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs=">
                <map:fault
                    java-type="de.adtech.helios.AdConverter_v7.WSAdConverterException"
                    name="WSAdConverterException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#createThirdPartyBanner?KExqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs="
                style="document"/>
            <input>
                <soap:body parts="thirdPartyTagScript" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSAdConverterException">
                <soap:fault name="WSAdConverterException" use="literal"/>
            </fault>
        </operation>
        <operation name="createThirdPartyBannerByLogin">
            <map:java-operation name="createThirdPartyBannerByLogin"
                signature="KExqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs=">
                <map:fault
                    java-type="de.adtech.helios.AdConverter_v7.WSAdConverterException"
                    name="WSAdConverterException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#createThirdPartyBannerByLogin?KExqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs="
                style="document"/>
            <input>
                <soap:body parts="thirdPartyTagScript username password"
                    use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSAdConverterException">
                <soap:fault name="WSAdConverterException" use="literal"/>
            </fault>
        </operation>
        <operation name="makeBannerFromXMLTemplate">
            <map:java-operation name="makeBannerFromXMLTemplate"
                signature="KExqYXZhL2xhbmcvTG9uZztMamF2YS91dGlsL0hhc2hNYXA7KUxkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyOw==">
                <map:fault
                    java-type="de.adtech.helios.AdConverter_v7.WSAdConverterException"
                    name="WSAdConverterException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#makeBannerFromXMLTemplate?KExqYXZhL2xhbmcvTG9uZztMamF2YS91dGlsL0hhc2hNYXA7KUxkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyOw=="
                style="document"/>
            <input>
                <soap:body parts="XMLBannerTempId variableMap" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSAdConverterException">
                <soap:fault name="WSAdConverterException" use="literal"/>
            </fault>
        </operation>
        <operation name="makeBannerFromXMLTemplateByLogin">
            <map:java-operation name="makeBannerFromXMLTemplateByLogin"
                signature="KExqYXZhL2xhbmcvTG9uZztMamF2YS91dGlsL0hhc2hNYXA7TGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7KUxkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyOw==">
                <map:fault
                    java-type="de.adtech.helios.AdConverter_v7.WSAdConverterException"
                    name="WSAdConverterException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#makeBannerFromXMLTemplateByLogin?KExqYXZhL2xhbmcvTG9uZztMamF2YS91dGlsL0hhc2hNYXA7TGphdmEvbGFuZy9TdHJpbmc7TGphdmEvbGFuZy9TdHJpbmc7KUxkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyOw=="
                style="document"/>
            <input>
                <soap:body parts="XMLBannerTempId variableMap username password"
                    use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSAdConverterException">
                <soap:fault name="WSAdConverterException" use="literal"/>
            </fault>
        </operation>
        <operation name="makeHTMLBannerFromImageBanner">
            <map:java-operation name="makeHTMLBannerFromImageBanner"
                signature="KExkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs=">
                <map:fault
                    java-type="de.adtech.helios.AdConverter_v7.WSAdConverterException"
                    name="WSAdConverterException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#makeHTMLBannerFromImageBanner?KExkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs="
                style="document"/>
            <input>
                <soap:body parts="source" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSAdConverterException">
                <soap:fault name="WSAdConverterException" use="literal"/>
            </fault>
        </operation>
        <operation name="makeHTMLBannerFromImageBannerByLogin">
            <map:java-operation name="makeHTMLBannerFromImageBannerByLogin"
                signature="KExkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs=">
                <map:fault
                    java-type="de.adtech.helios.AdConverter_v7.WSAdConverterException"
                    name="WSAdConverterException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#makeHTMLBannerFromImageBannerByLogin?KExkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs="
                style="document"/>
            <input>
                <soap:body parts="source username password" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSAdConverterException">
                <soap:fault name="WSAdConverterException" use="literal"/>
            </fault>
        </operation>
        <operation name="makeLAYERBannerFromHtmlBanner">
            <map:java-operation name="makeLAYERBannerFromHtmlBanner"
                signature="KExkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyO0lJSUkpTGRlL2FkdGVjaC9oZWxpb3MvQmFubmVyTWFuYWdlbWVudC9CYW5uZXI7">
                <map:fault
                    java-type="de.adtech.helios.AdConverter_v7.WSAdConverterException"
                    name="WSAdConverterException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#makeLAYERBannerFromHtmlBanner?KExkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyO0lJSUkpTGRlL2FkdGVjaC9oZWxpb3MvQmFubmVyTWFuYWdlbWVudC9CYW5uZXI7"
                style="document"/>
            <input>
                <soap:body parts="source width height x y" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSAdConverterException">
                <soap:fault name="WSAdConverterException" use="literal"/>
            </fault>
        </operation>
        <operation name="makeLAYERBannerFromHtmlBannerByLogin">
            <map:java-operation name="makeLAYERBannerFromHtmlBannerByLogin"
                signature="KExkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyO0lJSUlMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZzspTGRlL2FkdGVjaC9oZWxpb3MvQmFubmVyTWFuYWdlbWVudC9CYW5uZXI7">
                <map:fault
                    java-type="de.adtech.helios.AdConverter_v7.WSAdConverterException"
                    name="WSAdConverterException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#makeLAYERBannerFromHtmlBannerByLogin?KExkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyO0lJSUlMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZzspTGRlL2FkdGVjaC9oZWxpb3MvQmFubmVyTWFuYWdlbWVudC9CYW5uZXI7"
                style="document"/>
            <input>
                <soap:body parts="source width height x y username password"
                    use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSAdConverterException">
                <soap:fault name="WSAdConverterException" use="literal"/>
            </fault>
        </operation>
        <operation name="makePOPUPBannerFromHtmlBanner">
            <map:java-operation name="makePOPUPBannerFromHtmlBanner"
                signature="KExkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO1opTGRlL2FkdGVjaC9oZWxpb3MvQmFubmVyTWFuYWdlbWVudC9CYW5uZXI7">
                <map:fault
                    java-type="de.adtech.helios.AdConverter_v7.WSAdConverterException"
                    name="WSAdConverterException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#makePOPUPBannerFromHtmlBanner?KExkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO1opTGRlL2FkdGVjaC9oZWxpb3MvQmFubmVyTWFuYWdlbWVudC9CYW5uZXI7"
                style="document"/>
            <input>
                <soap:body
                    parts="source width height posTop posLeft title type winReuse"
                    use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSAdConverterException">
                <soap:fault name="WSAdConverterException" use="literal"/>
            </fault>
        </operation>
        <operation name="makePOPUPBannerFromHtmlBannerByLogin">
            <map:java-operation name="makePOPUPBannerFromHtmlBannerByLogin"
                signature="KExkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO1pMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZzspTGRlL2FkdGVjaC9oZWxpb3MvQmFubmVyTWFuYWdlbWVudC9CYW5uZXI7">
                <map:fault
                    java-type="de.adtech.helios.AdConverter_v7.WSAdConverterException"
                    name="WSAdConverterException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#makePOPUPBannerFromHtmlBannerByLogin?KExkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nO1pMamF2YS9sYW5nL1N0cmluZztMamF2YS9sYW5nL1N0cmluZzspTGRlL2FkdGVjaC9oZWxpb3MvQmFubmVyTWFuYWdlbWVudC9CYW5uZXI7"
                style="document"/>
            <input>
                <soap:body
                    parts="source width height posTop posLeft title type winReuse username password"
                    use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSAdConverterException">
                <soap:fault name="WSAdConverterException" use="literal"/>
            </fault>
        </operation>
        <operation name="makeRichMediaBanner">
            <map:java-operation name="makeRichMediaBanner"
                signature="KExkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs=">
                <map:fault java-type="java.lang.Exception" name="Exception"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#makeRichMediaBanner?KExkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs="
                style="document"/>
            <input>
                <soap:body parts="bann" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="makeRichMediaBannerByLogin">
            <map:java-operation name="makeRichMediaBannerByLogin"
                signature="KExkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs=">
                <map:fault java-type="java.lang.Exception" name="Exception"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AdConverter_v7/WSAdConverter_v7#makeRichMediaBannerByLogin?KExkZS9hZHRlY2gvaGVsaW9zL0Jhbm5lck1hbmFnZW1lbnQvQmFubmVyO0xqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9CYW5uZXJNYW5hZ2VtZW50L0Jhbm5lcjs="
                style="document"/>
            <input>
                <soap:body parts="bann username password" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="WSAdConverter_v7">
        <port binding="tns:WSAdConverter_v7" name="WSAdConverter_v7">
            <soap:address
            location="http://swd-franz.adtech.de:6060/WSAdConverter_v7/"/>
        </port>
    </service>
</definitions>
