lib/ext/HeliosWSClientSystem_1.10.1/WSEntityGroupAdmin_v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    name="de.adtech.webservices.helios.lowLevel.EntityGrouping_v2.WSEntityGroupAdmin_v2"
    targetNamespace="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:map="http://systinet.com/mapping/"
    xmlns:ns0="http://systinet.com/xsd/SchemaTypes/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/">
    <types>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://systinet.com/wsdl/de/adtech/helios/"
            xmlns:ns0="http://systinet.com/xsd/SchemaTypes/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:tns="http://systinet.com/wsdl/de/adtech/helios/"
            xmlns:xns5="http://systinet.com/containers/literal/ms.net"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import
            namespace="http://systinet.com/containers/literal/ms.net"/>
            <xsd:complexType name="AttributeOperatorValueExpression">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type
                        name="de.adtech.helios.AttributeOperatorValueExpression"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexContent>
                    <xsd:extension base="tns:BoolExpression">
                        <xsd:sequence>
                            <xsd:element name="attribute" nillable="true"
                                type="xsd:string"/>
                            <xsd:element name="operator" nillable="true"
                                type="xsd:string"/>
                            <xsd:element name="value" nillable="true"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="BoolExpression">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type name="de.adtech.helios.BoolExpression"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="expressions" nillable="true"
                        type="xns5:Vector"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://systinet.com/wsdl/de/adtech/helios/EntityGrouping/"
            xmlns:ns0="http://systinet.com/xsd/SchemaTypes/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:tns="http://systinet.com/wsdl/de/adtech/helios/EntityGrouping/"
            xmlns:xns5="http://systinet.com/containers/literal/ms.net"
            xmlns:xns6="http://systinet.com/wsdl/javax/jdo/spi/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://systinet.com/wsdl/javax/jdo/spi/"/>
            <xsd:import
            namespace="http://systinet.com/containers/literal/ms.net"/>
            <xsd:complexType name="FlexTreeConfig">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type
                        name="de.adtech.helios.EntityGrouping.FlexTreeConfig"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="config" nillable="true"
                        type="xns5:Collection"/>
                    <xsd:element name="description" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="extId" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="id" nillable="true" type="xsd:long"/>
                    <xsd:element name="mainNetwork" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="name" nillable="true" type="xsd:string"/>
                    <xsd:element name="subNetwork" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="treeTypeId" nillable="true"
                        type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GroupKeyDefinition">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type
                        name="de.adtech.helios.EntityGrouping.GroupKeyDefinition"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="description" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="extId" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="groupValueDefinitions" nillable="true"
                        type="xns5:Collection"/>
                    <xsd:element name="id" nillable="true" type="xsd:long"/>
                    <xsd:element name="mainNetwork" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="name" nillable="true" type="xsd:string"/>
                    <xsd:element name="subNetwork" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="treeType" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="pushableProperty" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfFlexTreeConfig">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type
                        name="[Lde.adtech.helios.EntityGrouping.FlexTreeConfig;"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                        name="FlexTreeConfig" nillable="true"
                        type="tns:FlexTreeConfig"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfGroupKeyDefinition">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type
                        name="[Lde.adtech.helios.EntityGrouping.GroupKeyDefinition;"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                        name="GroupKeyDefinition" nillable="true"
                        type="tns:GroupKeyDefinition"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FlexTreeItem">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type
                        name="de.adtech.helios.EntityGrouping.FlexTreeItem"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexContent>
                    <xsd:extension base="xns6:PersistenceCapable">
                        <xsd:sequence>
                            <xsd:element name="key" type="xsd:long"/>
                            <xsd:element name="position" type="xsd:int"/>
                            <xsd:element name="type" type="xsd:int"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="GroupValueDefinition">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type
                        name="de.adtech.helios.EntityGrouping.GroupValueDefinition"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexContent>
                    <xsd:extension base="xns6:PersistenceCapable">
                        <xsd:sequence>
                            <xsd:element name="id" nillable="true"
                                type="xsd:long"/>
                            <xsd:element name="name" nillable="true"
                                type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://systinet.com/containers/literal/ms.net"
            xmlns:map="http://systinet.com/mapping/"
            xmlns:ns0="http://systinet.com/xsd/SchemaTypes/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:tns="http://systinet.com/containers/literal/ms.net"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="Collection">
                <xsd:sequence>
                    <xsd:element name="Items" type="tns:ArrayOfAnyType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="List">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:Collection"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ArrayList">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:List"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="LinkedList">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:List"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Vector">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:List"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Set">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:Collection"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="HashSet">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:Set"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="SortedSet">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:Set"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="TreeSet">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:SortedSet"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Map">
                <xsd:sequence>
                    <xsd:element name="Keys" type="tns:ArrayOfAnyType"/>
                    <xsd:element name="Values" type="tns:ArrayOfAnyType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Hashtable">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:Map"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Properties">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:Hashtable"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="HashMap">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:Map"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="SortedMap">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:Map"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="TreeMap">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:SortedMap"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Iterator">
                <xsd:sequence>
                    <xsd:element name="Data" type="tns:ArrayOfAnyType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Enumeration">
                <xsd:sequence>
                    <xsd:element name="Data" type="tns:ArrayOfAnyType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAnyType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Item"
                        nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://systinet.com/wsdl/java/lang/"
            xmlns:ns0="http://systinet.com/xsd/SchemaTypes/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:tns="http://systinet.com/wsdl/java/lang/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="ArrayOflong">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type name="[Ljava.lang.Long;"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="long"
                        nillable="true" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://systinet.com/wsdl/javax/jdo/spi/"
            xmlns:ns0="http://systinet.com/xsd/SchemaTypes/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:tns="http://systinet.com/wsdl/javax/jdo/spi/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType abstract="true" name="PersistenceCapable">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type name="javax.jdo.spi.PersistenceCapable"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence/>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/"
            xmlns:ns0="http://systinet.com/xsd/SchemaTypes/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="WSEntityGroupAdminException">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type
                        name="de.adtech.webservices.helios.lowLevel.EntityGrouping_v2.WSEntityGroupAdminException"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="message" nillable="true"
                        type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://systinet.com/xsd/SchemaTypes/"
            xmlns:map="http://systinet.com/mapping/"
            xmlns:ns0="http://systinet.com/xsd/SchemaTypes/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:tns="http://systinet.com/xsd/SchemaTypes/"
            xmlns:xns4="http://systinet.com/wsdl/de/adtech/helios/EntityGrouping/"
            xmlns:xns5="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/"
            xmlns:xns6="http://systinet.com/wsdl/de/adtech/helios/"
            xmlns:xns7="http://systinet.com/containers/literal/ms.net"
            xmlns:xns8="http://systinet.com/wsdl/java/lang/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://systinet.com/wsdl/java/lang/"/>
            <xsd:import
            namespace="http://systinet.com/containers/literal/ms.net"/>
            <xsd:import namespace="http://systinet.com/wsdl/de/adtech/helios/"/>
            <xsd:import
            namespace="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/"/>
            <xsd:import
            namespace="http://systinet.com/wsdl/de/adtech/helios/EntityGrouping/"/>
            <xsd:element name="ftc" nillable="true" type="xns4:FlexTreeConfig"/>
            <xsd:element name="FlexTreeConfig_Response" nillable="true"
                type="xns4:FlexTreeConfig"/>
            <xsd:element name="WSEntityGroupAdminException" nillable="true"
                type="xns5:WSEntityGroupAdminException"/>
            <xsd:element name="gkd" nillable="true"
                type="xns4:GroupKeyDefinition"/>
            <xsd:element name="GroupKeyDefinition_Response" nillable="true"
                type="xns4:GroupKeyDefinition"/>
            <xsd:element name="AttributeOperatorValueExpression_Response"
                nillable="true" type="xns6:AttributeOperatorValueExpression"/>
            <xsd:element name="extid" nillable="true" type="xsd:string"/>
            <xsd:element name="id" nillable="true" type="xsd:long"/>
            <xsd:element name="start" nillable="true" type="xsd:long"/>
            <xsd:element name="end" nillable="true" type="xsd:long"/>
            <xsd:element name="boolExpr" nillable="true"
                type="xns6:BoolExpression"/>
            <xsd:element name="order" nillable="true" type="xns7:Collection"/>
            <xsd:element name="ArrayOflong_Response" nillable="true"
                type="xns8:ArrayOflong"/>
            <xsd:element name="ArrayOfFlexTreeConfig_Response" nillable="true"
                type="xns4:ArrayOfFlexTreeConfig"/>
            <xsd:element name="long_Response" nillable="true" type="xsd:long"/>
            <xsd:element name="ArrayOfGroupKeyDefinition_Response"
                nillable="true" type="xns4:ArrayOfGroupKeyDefinition"/>
            <xsd:element name="keys" nillable="true" type="xns8:ArrayOflong"/>
            <xsd:element name="values" nillable="true" type="xns8:ArrayOflong"/>
            <xsd:element name="idoox-java-mapping.java.lang.Exception"
                nillable="true" type="xsd:anyType"/>
            <xsd:element name="FlexTreeItem_Response" nillable="true"
                type="xns4:FlexTreeItem"/>
            <xsd:element name="GroupValueDefinition_Response" nillable="true"
                type="xns4:GroupValueDefinition"/>
        </xsd:schema>
    </types>
    <message name="Exception">
        <part element="ns0:idoox-java-mapping.java.lang.Exception"
            name="idoox-java-mapping.java.lang.Exception"/>
    </message>
    <message name="WSEntityGroupAdminException">
        <part element="ns0:WSEntityGroupAdminException"
            name="WSEntityGroupAdminException"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_createFlexTreeConfig_Request_Soap">
        <part element="ns0:ftc" name="ftc"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_createFlexTreeConfig_Response_Soap">
        <part element="ns0:FlexTreeConfig_Response" name="response"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_createGroupKeyDefinition_Request_Soap">
        <part element="ns0:gkd" name="gkd"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_createGroupKeyDefinition_Response_Soap">
        <part element="ns0:GroupKeyDefinition_Response" name="response"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_gaove_Request_Soap"/>
    <message name="WSEntityGroupAdmin_v2_gaove_Response_Soap">
        <part element="ns0:AttributeOperatorValueExpression_Response"
            name="response"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getFlexTreeConfigByExtId_Request_Soap">
        <part element="ns0:extid" name="extid"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getFlexTreeConfigByExtId_Response_Soap">
        <part element="ns0:FlexTreeConfig_Response" name="response"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getFlexTreeConfigById_Request_Soap">
        <part element="ns0:id" name="id"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getFlexTreeConfigById_Response_Soap">
        <part element="ns0:FlexTreeConfig_Response" name="response"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getFlexTreeConfigIdList_Request_Soap">
        <part element="ns0:start" name="start"/>
        <part element="ns0:end" name="end"/>
        <part element="ns0:boolExpr" name="boolExpr"/>
        <part element="ns0:order" name="order"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getFlexTreeConfigIdList_Response_Soap">
        <part element="ns0:ArrayOflong_Response" name="response"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getFlexTreeConfigListSize_Request_Soap">
        <part element="ns0:boolExpr" name="boolExpr"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getFlexTreeConfigListSize_Response_Soap">
        <part element="ns0:long_Response" name="response"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getFlexTreeConfigList_Request_Soap">
        <part element="ns0:start" name="start"/>
        <part element="ns0:end" name="end"/>
        <part element="ns0:boolExpr" name="boolExpr"/>
        <part element="ns0:order" name="order"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getFlexTreeConfigList_Response_Soap">
        <part element="ns0:ArrayOfFlexTreeConfig_Response" name="response"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getGroupKeyDefinitionByExtId_Request_Soap">
        <part element="ns0:extid" name="extid"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getGroupKeyDefinitionByExtId_Response_Soap">
        <part element="ns0:GroupKeyDefinition_Response" name="response"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getGroupKeyDefinitionById_Request_Soap">
        <part element="ns0:id" name="id"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getGroupKeyDefinitionById_Response_Soap">
        <part element="ns0:GroupKeyDefinition_Response" name="response"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getGroupKeyDefinitionIdList_Request_Soap">
        <part element="ns0:start" name="start"/>
        <part element="ns0:end" name="end"/>
        <part element="ns0:boolExpr" name="boolExpr"/>
        <part element="ns0:order" name="order"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getGroupKeyDefinitionIdList_Response_Soap">
        <part element="ns0:ArrayOflong_Response" name="response"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getGroupKeyDefinitionListSize_Request_Soap">
        <part element="ns0:boolExpr" name="boolExpr"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getGroupKeyDefinitionListSize_Response_Soap">
        <part element="ns0:long_Response" name="response"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getGroupKeyDefinitionList_Request_Soap">
        <part element="ns0:start" name="start"/>
        <part element="ns0:end" name="end"/>
        <part element="ns0:boolExpr" name="boolExpr"/>
        <part element="ns0:order" name="order"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getGroupKeyDefinitionList_Response_Soap">
        <part element="ns0:ArrayOfGroupKeyDefinition_Response" name="response"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getKeyValuePairs_Request_Soap">
        <part element="ns0:keys" name="keys"/>
        <part element="ns0:values" name="values"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_getKeyValuePairs_Response_Soap">
        <part element="ns0:ArrayOflong_Response" name="response"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_gfti_Request_Soap"/>
    <message name="WSEntityGroupAdmin_v2_gfti_Response_Soap">
        <part element="ns0:FlexTreeItem_Response" name="response"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_ggvd_Request_Soap"/>
    <message name="WSEntityGroupAdmin_v2_ggvd_Response_Soap">
        <part element="ns0:GroupValueDefinition_Response" name="response"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_updateFlexTreeConfig_Request_Soap">
        <part element="ns0:ftc" name="ftc"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_updateFlexTreeConfig_Response_Soap">
        <part element="ns0:FlexTreeConfig_Response" name="response"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_updateGroupKeyDefinition_Request_Soap">
        <part element="ns0:gkd" name="gkd"/>
    </message>
    <message name="WSEntityGroupAdmin_v2_updateGroupKeyDefinition_Response_Soap">
        <part element="ns0:GroupKeyDefinition_Response" name="response"/>
    </message>
    <portType name="WSEntityGroupAdmin_v2">
        <operation name="createFlexTreeConfig" parameterOrder="ftc">
            <input
            message="tns:WSEntityGroupAdmin_v2_createFlexTreeConfig_Request_Soap"/>
            <output
            message="tns:WSEntityGroupAdmin_v2_createFlexTreeConfig_Response_Soap"/>
            <fault message="tns:WSEntityGroupAdminException"
                name="WSEntityGroupAdminException"/>
        </operation>
        <operation name="createGroupKeyDefinition" parameterOrder="gkd">
            <input
            message="tns:WSEntityGroupAdmin_v2_createGroupKeyDefinition_Request_Soap"/>
            <output
            message="tns:WSEntityGroupAdmin_v2_createGroupKeyDefinition_Response_Soap"/>
            <fault message="tns:WSEntityGroupAdminException"
                name="WSEntityGroupAdminException"/>
        </operation>
        <operation name="gaove" parameterOrder="">
            <input message="tns:WSEntityGroupAdmin_v2_gaove_Request_Soap"/>
            <output message="tns:WSEntityGroupAdmin_v2_gaove_Response_Soap"/>
        </operation>
        <operation name="getFlexTreeConfigByExtId" parameterOrder="extid">
            <input
            message="tns:WSEntityGroupAdmin_v2_getFlexTreeConfigByExtId_Request_Soap"/>
            <output
            message="tns:WSEntityGroupAdmin_v2_getFlexTreeConfigByExtId_Response_Soap"/>
            <fault message="tns:WSEntityGroupAdminException"
                name="WSEntityGroupAdminException"/>
        </operation>
        <operation name="getFlexTreeConfigById" parameterOrder="id">
            <input
            message="tns:WSEntityGroupAdmin_v2_getFlexTreeConfigById_Request_Soap"/>
            <output
            message="tns:WSEntityGroupAdmin_v2_getFlexTreeConfigById_Response_Soap"/>
            <fault message="tns:WSEntityGroupAdminException"
                name="WSEntityGroupAdminException"/>
        </operation>
        <operation name="getFlexTreeConfigIdList"
            parameterOrder="start end boolExpr order">
            <input
            message="tns:WSEntityGroupAdmin_v2_getFlexTreeConfigIdList_Request_Soap"/>
            <output
            message="tns:WSEntityGroupAdmin_v2_getFlexTreeConfigIdList_Response_Soap"/>
            <fault message="tns:WSEntityGroupAdminException"
                name="WSEntityGroupAdminException"/>
        </operation>
        <operation name="getFlexTreeConfigList"
            parameterOrder="start end boolExpr order">
            <input
            message="tns:WSEntityGroupAdmin_v2_getFlexTreeConfigList_Request_Soap"/>
            <output
            message="tns:WSEntityGroupAdmin_v2_getFlexTreeConfigList_Response_Soap"/>
            <fault message="tns:WSEntityGroupAdminException"
                name="WSEntityGroupAdminException"/>
        </operation>
        <operation name="getFlexTreeConfigListSize" parameterOrder="boolExpr">
            <input
            message="tns:WSEntityGroupAdmin_v2_getFlexTreeConfigListSize_Request_Soap"/>
            <output
            message="tns:WSEntityGroupAdmin_v2_getFlexTreeConfigListSize_Response_Soap"/>
            <fault message="tns:WSEntityGroupAdminException"
                name="WSEntityGroupAdminException"/>
        </operation>
        <operation name="getGroupKeyDefinitionByExtId" parameterOrder="extid">
            <input
            message="tns:WSEntityGroupAdmin_v2_getGroupKeyDefinitionByExtId_Request_Soap"/>
            <output
            message="tns:WSEntityGroupAdmin_v2_getGroupKeyDefinitionByExtId_Response_Soap"/>
            <fault message="tns:WSEntityGroupAdminException"
                name="WSEntityGroupAdminException"/>
        </operation>
        <operation name="getGroupKeyDefinitionById" parameterOrder="id">
            <input
            message="tns:WSEntityGroupAdmin_v2_getGroupKeyDefinitionById_Request_Soap"/>
            <output
            message="tns:WSEntityGroupAdmin_v2_getGroupKeyDefinitionById_Response_Soap"/>
            <fault message="tns:WSEntityGroupAdminException"
                name="WSEntityGroupAdminException"/>
        </operation>
        <operation name="getGroupKeyDefinitionIdList"
            parameterOrder="start end boolExpr order">
            <input
            message="tns:WSEntityGroupAdmin_v2_getGroupKeyDefinitionIdList_Request_Soap"/>
            <output
            message="tns:WSEntityGroupAdmin_v2_getGroupKeyDefinitionIdList_Response_Soap"/>
            <fault message="tns:WSEntityGroupAdminException"
                name="WSEntityGroupAdminException"/>
        </operation>
        <operation name="getGroupKeyDefinitionList"
            parameterOrder="start end boolExpr order">
            <input
            message="tns:WSEntityGroupAdmin_v2_getGroupKeyDefinitionList_Request_Soap"/>
            <output
            message="tns:WSEntityGroupAdmin_v2_getGroupKeyDefinitionList_Response_Soap"/>
            <fault message="tns:WSEntityGroupAdminException"
                name="WSEntityGroupAdminException"/>
        </operation>
        <operation name="getGroupKeyDefinitionListSize"
            parameterOrder="boolExpr">
            <input
            message="tns:WSEntityGroupAdmin_v2_getGroupKeyDefinitionListSize_Request_Soap"/>
            <output
            message="tns:WSEntityGroupAdmin_v2_getGroupKeyDefinitionListSize_Response_Soap"/>
            <fault message="tns:WSEntityGroupAdminException"
                name="WSEntityGroupAdminException"/>
        </operation>
        <operation name="getKeyValuePairs" parameterOrder="keys values">
            <input
            message="tns:WSEntityGroupAdmin_v2_getKeyValuePairs_Request_Soap"/>
            <output
            message="tns:WSEntityGroupAdmin_v2_getKeyValuePairs_Response_Soap"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
        <operation name="gfti" parameterOrder="">
            <input message="tns:WSEntityGroupAdmin_v2_gfti_Request_Soap"/>
            <output message="tns:WSEntityGroupAdmin_v2_gfti_Response_Soap"/>
        </operation>
        <operation name="ggvd" parameterOrder="">
            <input message="tns:WSEntityGroupAdmin_v2_ggvd_Request_Soap"/>
            <output message="tns:WSEntityGroupAdmin_v2_ggvd_Response_Soap"/>
        </operation>
        <operation name="updateFlexTreeConfig" parameterOrder="ftc">
            <input
            message="tns:WSEntityGroupAdmin_v2_updateFlexTreeConfig_Request_Soap"/>
            <output
            message="tns:WSEntityGroupAdmin_v2_updateFlexTreeConfig_Response_Soap"/>
            <fault message="tns:WSEntityGroupAdminException"
                name="WSEntityGroupAdminException"/>
        </operation>
        <operation name="updateGroupKeyDefinition" parameterOrder="gkd">
            <input
            message="tns:WSEntityGroupAdmin_v2_updateGroupKeyDefinition_Request_Soap"/>
            <output
            message="tns:WSEntityGroupAdmin_v2_updateGroupKeyDefinition_Response_Soap"/>
            <fault message="tns:WSEntityGroupAdminException"
                name="WSEntityGroupAdminException"/>
        </operation>
    </portType>
    <binding name="WSEntityGroupAdmin_v2" type="tns:WSEntityGroupAdmin_v2">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createFlexTreeConfig">
            <map:java-operation name="createFlexTreeConfig"
                signature="KExkZS9hZHRlY2gvaGVsaW9zL0VudGl0eUdyb3VwaW5nL0ZsZXhUcmVlQ29uZmlnOylMZGUvYWR0ZWNoL2hlbGlvcy9FbnRpdHlHcm91cGluZy9GbGV4VHJlZUNvbmZpZzs=">
                <map:fault
                    java-type="de.adtech.webservices.helios.lowLevel.EntityGrouping_v2.WSEntityGroupAdminException"
                    name="WSEntityGroupAdminException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#createFlexTreeConfig?KExkZS9hZHRlY2gvaGVsaW9zL0VudGl0eUdyb3VwaW5nL0ZsZXhUcmVlQ29uZmlnOylMZGUvYWR0ZWNoL2hlbGlvcy9FbnRpdHlHcm91cGluZy9GbGV4VHJlZUNvbmZpZzs="
                style="document"/>
            <input>
                <soap:body parts="ftc" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSEntityGroupAdminException">
                <soap:fault name="WSEntityGroupAdminException" use="literal"/>
            </fault>
        </operation>
        <operation name="createGroupKeyDefinition">
            <map:java-operation name="createGroupKeyDefinition"
                signature="KExkZS9hZHRlY2gvaGVsaW9zL0VudGl0eUdyb3VwaW5nL0dyb3VwS2V5RGVmaW5pdGlvbjspTGRlL2FkdGVjaC9oZWxpb3MvRW50aXR5R3JvdXBpbmcvR3JvdXBLZXlEZWZpbml0aW9uOw==">
                <map:fault
                    java-type="de.adtech.webservices.helios.lowLevel.EntityGrouping_v2.WSEntityGroupAdminException"
                    name="WSEntityGroupAdminException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#createGroupKeyDefinition?KExkZS9hZHRlY2gvaGVsaW9zL0VudGl0eUdyb3VwaW5nL0dyb3VwS2V5RGVmaW5pdGlvbjspTGRlL2FkdGVjaC9oZWxpb3MvRW50aXR5R3JvdXBpbmcvR3JvdXBLZXlEZWZpbml0aW9uOw=="
                style="document"/>
            <input>
                <soap:body parts="gkd" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSEntityGroupAdminException">
                <soap:fault name="WSEntityGroupAdminException" use="literal"/>
            </fault>
        </operation>
        <operation name="gaove">
            <map:java-operation name="gaove"
                signature="KClMZGUvYWR0ZWNoL2hlbGlvcy9BdHRyaWJ1dGVPcGVyYXRvclZhbHVlRXhwcmVzc2lvbjs="/>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#gaove?KClMZGUvYWR0ZWNoL2hlbGlvcy9BdHRyaWJ1dGVPcGVyYXRvclZhbHVlRXhwcmVzc2lvbjs="
                style="document"/>
            <input>
                <soap:body parts="" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
        </operation>
        <operation name="getFlexTreeConfigByExtId">
            <map:java-operation name="getFlexTreeConfigByExtId"
                signature="KExqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9FbnRpdHlHcm91cGluZy9GbGV4VHJlZUNvbmZpZzs=">
                <map:fault
                    java-type="de.adtech.webservices.helios.lowLevel.EntityGrouping_v2.WSEntityGroupAdminException"
                    name="WSEntityGroupAdminException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#getFlexTreeConfigByExtId?KExqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9FbnRpdHlHcm91cGluZy9GbGV4VHJlZUNvbmZpZzs="
                style="document"/>
            <input>
                <soap:body parts="extid" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSEntityGroupAdminException">
                <soap:fault name="WSEntityGroupAdminException" use="literal"/>
            </fault>
        </operation>
        <operation name="getFlexTreeConfigById">
            <map:java-operation name="getFlexTreeConfigById"
                signature="KExqYXZhL2xhbmcvTG9uZzspTGRlL2FkdGVjaC9oZWxpb3MvRW50aXR5R3JvdXBpbmcvRmxleFRyZWVDb25maWc7">
                <map:fault
                    java-type="de.adtech.webservices.helios.lowLevel.EntityGrouping_v2.WSEntityGroupAdminException"
                    name="WSEntityGroupAdminException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#getFlexTreeConfigById?KExqYXZhL2xhbmcvTG9uZzspTGRlL2FkdGVjaC9oZWxpb3MvRW50aXR5R3JvdXBpbmcvRmxleFRyZWVDb25maWc7"
                style="document"/>
            <input>
                <soap:body parts="id" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSEntityGroupAdminException">
                <soap:fault name="WSEntityGroupAdminException" use="literal"/>
            </fault>
        </operation>
        <operation name="getFlexTreeConfigIdList">
            <map:java-operation name="getFlexTreeConfigIdList"
                signature="KExqYXZhL2xhbmcvTG9uZztMamF2YS9sYW5nL0xvbmc7TGRlL2FkdGVjaC9oZWxpb3MvQm9vbEV4cHJlc3Npb247TGphdmEvdXRpbC9Db2xsZWN0aW9uOylbTGphdmEvbGFuZy9Mb25nOw==">
                <map:fault
                    java-type="de.adtech.webservices.helios.lowLevel.EntityGrouping_v2.WSEntityGroupAdminException"
                    name="WSEntityGroupAdminException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#getFlexTreeConfigIdList?KExqYXZhL2xhbmcvTG9uZztMamF2YS9sYW5nL0xvbmc7TGRlL2FkdGVjaC9oZWxpb3MvQm9vbEV4cHJlc3Npb247TGphdmEvdXRpbC9Db2xsZWN0aW9uOylbTGphdmEvbGFuZy9Mb25nOw=="
                style="document"/>
            <input>
                <soap:body parts="start end boolExpr order" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSEntityGroupAdminException">
                <soap:fault name="WSEntityGroupAdminException" use="literal"/>
            </fault>
        </operation>
        <operation name="getFlexTreeConfigList">
            <map:java-operation name="getFlexTreeConfigList"
                signature="KExqYXZhL2xhbmcvTG9uZztMamF2YS9sYW5nL0xvbmc7TGRlL2FkdGVjaC9oZWxpb3MvQm9vbEV4cHJlc3Npb247TGphdmEvdXRpbC9Db2xsZWN0aW9uOylbTGRlL2FkdGVjaC9oZWxpb3MvRW50aXR5R3JvdXBpbmcvRmxleFRyZWVDb25maWc7">
                <map:fault
                    java-type="de.adtech.webservices.helios.lowLevel.EntityGrouping_v2.WSEntityGroupAdminException"
                    name="WSEntityGroupAdminException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#getFlexTreeConfigList?KExqYXZhL2xhbmcvTG9uZztMamF2YS9sYW5nL0xvbmc7TGRlL2FkdGVjaC9oZWxpb3MvQm9vbEV4cHJlc3Npb247TGphdmEvdXRpbC9Db2xsZWN0aW9uOylbTGRlL2FkdGVjaC9oZWxpb3MvRW50aXR5R3JvdXBpbmcvRmxleFRyZWVDb25maWc7"
                style="document"/>
            <input>
                <soap:body parts="start end boolExpr order" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSEntityGroupAdminException">
                <soap:fault name="WSEntityGroupAdminException" use="literal"/>
            </fault>
        </operation>
        <operation name="getFlexTreeConfigListSize">
            <map:java-operation name="getFlexTreeConfigListSize"
                signature="KExkZS9hZHRlY2gvaGVsaW9zL0Jvb2xFeHByZXNzaW9uOylMamF2YS9sYW5nL0xvbmc7">
                <map:fault
                    java-type="de.adtech.webservices.helios.lowLevel.EntityGrouping_v2.WSEntityGroupAdminException"
                    name="WSEntityGroupAdminException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#getFlexTreeConfigListSize?KExkZS9hZHRlY2gvaGVsaW9zL0Jvb2xFeHByZXNzaW9uOylMamF2YS9sYW5nL0xvbmc7"
                style="document"/>
            <input>
                <soap:body parts="boolExpr" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSEntityGroupAdminException">
                <soap:fault name="WSEntityGroupAdminException" use="literal"/>
            </fault>
        </operation>
        <operation name="getGroupKeyDefinitionByExtId">
            <map:java-operation name="getGroupKeyDefinitionByExtId"
                signature="KExqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9FbnRpdHlHcm91cGluZy9Hcm91cEtleURlZmluaXRpb247">
                <map:fault
                    java-type="de.adtech.webservices.helios.lowLevel.EntityGrouping_v2.WSEntityGroupAdminException"
                    name="WSEntityGroupAdminException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#getGroupKeyDefinitionByExtId?KExqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9FbnRpdHlHcm91cGluZy9Hcm91cEtleURlZmluaXRpb247"
                style="document"/>
            <input>
                <soap:body parts="extid" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSEntityGroupAdminException">
                <soap:fault name="WSEntityGroupAdminException" use="literal"/>
            </fault>
        </operation>
        <operation name="getGroupKeyDefinitionById">
            <map:java-operation name="getGroupKeyDefinitionById"
                signature="KExqYXZhL2xhbmcvTG9uZzspTGRlL2FkdGVjaC9oZWxpb3MvRW50aXR5R3JvdXBpbmcvR3JvdXBLZXlEZWZpbml0aW9uOw==">
                <map:fault
                    java-type="de.adtech.webservices.helios.lowLevel.EntityGrouping_v2.WSEntityGroupAdminException"
                    name="WSEntityGroupAdminException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#getGroupKeyDefinitionById?KExqYXZhL2xhbmcvTG9uZzspTGRlL2FkdGVjaC9oZWxpb3MvRW50aXR5R3JvdXBpbmcvR3JvdXBLZXlEZWZpbml0aW9uOw=="
                style="document"/>
            <input>
                <soap:body parts="id" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSEntityGroupAdminException">
                <soap:fault name="WSEntityGroupAdminException" use="literal"/>
            </fault>
        </operation>
        <operation name="getGroupKeyDefinitionIdList">
            <map:java-operation name="getGroupKeyDefinitionIdList"
                signature="KExqYXZhL2xhbmcvTG9uZztMamF2YS9sYW5nL0xvbmc7TGRlL2FkdGVjaC9oZWxpb3MvQm9vbEV4cHJlc3Npb247TGphdmEvdXRpbC9Db2xsZWN0aW9uOylbTGphdmEvbGFuZy9Mb25nOw==">
                <map:fault
                    java-type="de.adtech.webservices.helios.lowLevel.EntityGrouping_v2.WSEntityGroupAdminException"
                    name="WSEntityGroupAdminException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#getGroupKeyDefinitionIdList?KExqYXZhL2xhbmcvTG9uZztMamF2YS9sYW5nL0xvbmc7TGRlL2FkdGVjaC9oZWxpb3MvQm9vbEV4cHJlc3Npb247TGphdmEvdXRpbC9Db2xsZWN0aW9uOylbTGphdmEvbGFuZy9Mb25nOw=="
                style="document"/>
            <input>
                <soap:body parts="start end boolExpr order" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSEntityGroupAdminException">
                <soap:fault name="WSEntityGroupAdminException" use="literal"/>
            </fault>
        </operation>
        <operation name="getGroupKeyDefinitionList">
            <map:java-operation name="getGroupKeyDefinitionList"
                signature="KExqYXZhL2xhbmcvTG9uZztMamF2YS9sYW5nL0xvbmc7TGRlL2FkdGVjaC9oZWxpb3MvQm9vbEV4cHJlc3Npb247TGphdmEvdXRpbC9Db2xsZWN0aW9uOylbTGRlL2FkdGVjaC9oZWxpb3MvRW50aXR5R3JvdXBpbmcvR3JvdXBLZXlEZWZpbml0aW9uOw==">
                <map:fault
                    java-type="de.adtech.webservices.helios.lowLevel.EntityGrouping_v2.WSEntityGroupAdminException"
                    name="WSEntityGroupAdminException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#getGroupKeyDefinitionList?KExqYXZhL2xhbmcvTG9uZztMamF2YS9sYW5nL0xvbmc7TGRlL2FkdGVjaC9oZWxpb3MvQm9vbEV4cHJlc3Npb247TGphdmEvdXRpbC9Db2xsZWN0aW9uOylbTGRlL2FkdGVjaC9oZWxpb3MvRW50aXR5R3JvdXBpbmcvR3JvdXBLZXlEZWZpbml0aW9uOw=="
                style="document"/>
            <input>
                <soap:body parts="start end boolExpr order" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSEntityGroupAdminException">
                <soap:fault name="WSEntityGroupAdminException" use="literal"/>
            </fault>
        </operation>
        <operation name="getGroupKeyDefinitionListSize">
            <map:java-operation name="getGroupKeyDefinitionListSize"
                signature="KExkZS9hZHRlY2gvaGVsaW9zL0Jvb2xFeHByZXNzaW9uOylMamF2YS9sYW5nL0xvbmc7">
                <map:fault
                    java-type="de.adtech.webservices.helios.lowLevel.EntityGrouping_v2.WSEntityGroupAdminException"
                    name="WSEntityGroupAdminException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#getGroupKeyDefinitionListSize?KExkZS9hZHRlY2gvaGVsaW9zL0Jvb2xFeHByZXNzaW9uOylMamF2YS9sYW5nL0xvbmc7"
                style="document"/>
            <input>
                <soap:body parts="boolExpr" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSEntityGroupAdminException">
                <soap:fault name="WSEntityGroupAdminException" use="literal"/>
            </fault>
        </operation>
        <operation name="getKeyValuePairs">
            <map:java-operation name="getKeyValuePairs"
                signature="KFtMamF2YS9sYW5nL0xvbmc7W0xqYXZhL2xhbmcvTG9uZzspW0xqYXZhL2xhbmcvTG9uZzs=">
                <map:fault java-type="java.lang.Exception" name="Exception"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#getKeyValuePairs?KFtMamF2YS9sYW5nL0xvbmc7W0xqYXZhL2xhbmcvTG9uZzspW0xqYXZhL2xhbmcvTG9uZzs="
                style="document"/>
            <input>
                <soap:body parts="keys values" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="gfti">
            <map:java-operation name="gfti"
                signature="KClMZGUvYWR0ZWNoL2hlbGlvcy9FbnRpdHlHcm91cGluZy9GbGV4VHJlZUl0ZW07"/>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#gfti?KClMZGUvYWR0ZWNoL2hlbGlvcy9FbnRpdHlHcm91cGluZy9GbGV4VHJlZUl0ZW07"
                style="document"/>
            <input>
                <soap:body parts="" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
        </operation>
        <operation name="ggvd">
            <map:java-operation name="ggvd"
                signature="KClMZGUvYWR0ZWNoL2hlbGlvcy9FbnRpdHlHcm91cGluZy9Hcm91cFZhbHVlRGVmaW5pdGlvbjs="/>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#ggvd?KClMZGUvYWR0ZWNoL2hlbGlvcy9FbnRpdHlHcm91cGluZy9Hcm91cFZhbHVlRGVmaW5pdGlvbjs="
                style="document"/>
            <input>
                <soap:body parts="" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
        </operation>
        <operation name="updateFlexTreeConfig">
            <map:java-operation name="updateFlexTreeConfig"
                signature="KExkZS9hZHRlY2gvaGVsaW9zL0VudGl0eUdyb3VwaW5nL0ZsZXhUcmVlQ29uZmlnOylMZGUvYWR0ZWNoL2hlbGlvcy9FbnRpdHlHcm91cGluZy9GbGV4VHJlZUNvbmZpZzs=">
                <map:fault
                    java-type="de.adtech.webservices.helios.lowLevel.EntityGrouping_v2.WSEntityGroupAdminException"
                    name="WSEntityGroupAdminException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#updateFlexTreeConfig?KExkZS9hZHRlY2gvaGVsaW9zL0VudGl0eUdyb3VwaW5nL0ZsZXhUcmVlQ29uZmlnOylMZGUvYWR0ZWNoL2hlbGlvcy9FbnRpdHlHcm91cGluZy9GbGV4VHJlZUNvbmZpZzs="
                style="document"/>
            <input>
                <soap:body parts="ftc" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSEntityGroupAdminException">
                <soap:fault name="WSEntityGroupAdminException" use="literal"/>
            </fault>
        </operation>
        <operation name="updateGroupKeyDefinition">
            <map:java-operation name="updateGroupKeyDefinition"
                signature="KExkZS9hZHRlY2gvaGVsaW9zL0VudGl0eUdyb3VwaW5nL0dyb3VwS2V5RGVmaW5pdGlvbjspTGRlL2FkdGVjaC9oZWxpb3MvRW50aXR5R3JvdXBpbmcvR3JvdXBLZXlEZWZpbml0aW9uOw==">
                <map:fault
                    java-type="de.adtech.webservices.helios.lowLevel.EntityGrouping_v2.WSEntityGroupAdminException"
                    name="WSEntityGroupAdminException"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/EntityGrouping_v2/WSEntityGroupAdmin_v2#updateGroupKeyDefinition?KExkZS9hZHRlY2gvaGVsaW9zL0VudGl0eUdyb3VwaW5nL0dyb3VwS2V5RGVmaW5pdGlvbjspTGRlL2FkdGVjaC9oZWxpb3MvRW50aXR5R3JvdXBpbmcvR3JvdXBLZXlEZWZpbml0aW9uOw=="
                style="document"/>
            <input>
                <soap:body parts="gkd" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="WSEntityGroupAdminException">
                <soap:fault name="WSEntityGroupAdminException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="WSEntityGroupAdmin_v2">
        <port binding="tns:WSEntityGroupAdmin_v2" name="WSEntityGroupAdmin_v2">
            <soap:address
            location="http://swd-franz.adtech.de:6060/WSEntityGroupAdmin_v2/"/>
        </port>
    </service>
</definitions>
