lib/ext/HeliosWSClientSystem_1.10.1/WSMigrationHelper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="de.adtech.helios.AOLMigration.WSMigrationHelper"
    targetNamespace="http://systinet.com/wsdl/de/adtech/helios/AOLMigration/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:map="http://systinet.com/mapping/"
    xmlns:ns0="http://systinet.com/xsd/SchemaTypes/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://systinet.com/wsdl/de/adtech/helios/AOLMigration/">
    <types>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://systinet.com/xsd/SchemaTypes/"
            xmlns:tns="http://systinet.com/xsd/SchemaTypes/"
            xmlns:xns4="http://systinet.com/wsdl/de/adtech/helios/AOLMigration/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import
            namespace="http://systinet.com/wsdl/de/adtech/helios/AOLMigration/"/>
            <xsd:element name="campaignId" nillable="true" type="xsd:long"/>
            <xsd:element name="ArrayOfThirdPartyStatisticsData_Response"
                nillable="true" type="xns4:ArrayOfThirdPartyStatisticsData"/>
            <xsd:element name="idoox-java-mapping.java.lang.Exception"
                nillable="true" type="xsd:anyType"/>
            <xsd:element name="impressionsDelta" nillable="true"
                type="xsd:long"/>
            <xsd:element name="clicksDelta" nillable="true" type="xsd:long"/>
            <xsd:element name="viewsDelta" nillable="true" type="xsd:long"/>
            <xsd:element name="newstartdate" nillable="true"
                type="xsd:dateTime"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://systinet.com/wsdl/de/adtech/helios/AOLMigration/"
            xmlns:map="http://systinet.com/mapping/"
            xmlns:tns="http://systinet.com/wsdl/de/adtech/helios/AOLMigration/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="ThirdPartyStatisticsData">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type
                        name="de.adtech.helios.AOLMigration.ThirdPartyStatisticsData"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="campaignId" type="xsd:long"/>
                    <xsd:element name="dateEntered" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element name="deltaClicks" type="xsd:long"/>
                    <xsd:element name="deltaImpressions" type="xsd:long"/>
                    <xsd:element name="deltaViews" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfThirdPartyStatisticsData">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type
                        name="[Lde.adtech.helios.AOLMigration.ThirdPartyStatisticsData;"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                        name="ThirdPartyStatisticsData" nillable="true"
                        type="tns:ThirdPartyStatisticsData"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="Exception">
        <part element="ns0:idoox-java-mapping.java.lang.Exception"
            name="idoox-java-mapping.java.lang.Exception"/>
    </message>
    <message name="WSMigrationHelper_exportThirdPartyStatisticsByCampaignId_Request_Soap">
        <part element="ns0:campaignId" name="campaignId"/>
    </message>
    <message name="WSMigrationHelper_exportThirdPartyStatisticsByCampaignId_Response_Soap">
        <part element="ns0:ArrayOfThirdPartyStatisticsData_Response"
            name="response"/>
    </message>
    <message name="WSMigrationHelper_importThirdPartyStatistics_Request_Soap">
        <part element="ns0:campaignId" name="campaignId"/>
        <part element="ns0:impressionsDelta" name="impressionsDelta"/>
        <part element="ns0:clicksDelta" name="clicksDelta"/>
        <part element="ns0:viewsDelta" name="viewsDelta"/>
    </message>
    <message name="WSMigrationHelper_importThirdPartyStatistics_Response_Soap"/>
    <message name="WSMigrationHelper_modifyStartDate_Request_Soap">
        <part element="ns0:campaignId" name="campaignId"/>
        <part element="ns0:newstartdate" name="newstartdate"/>
    </message>
    <message name="WSMigrationHelper_modifyStartDate_Response_Soap"/>
    <portType name="WSMigrationHelper">
        <operation name="exportThirdPartyStatisticsByCampaignId"
            parameterOrder="campaignId">
            <input
            message="tns:WSMigrationHelper_exportThirdPartyStatisticsByCampaignId_Request_Soap"/>
            <output
            message="tns:WSMigrationHelper_exportThirdPartyStatisticsByCampaignId_Response_Soap"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
        <operation name="importThirdPartyStatistics"
            parameterOrder="campaignId impressionsDelta clicksDelta viewsDelta">
            <input
            message="tns:WSMigrationHelper_importThirdPartyStatistics_Request_Soap"/>
            <output
            message="tns:WSMigrationHelper_importThirdPartyStatistics_Response_Soap"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
        <operation name="modifyStartDate"
            parameterOrder="campaignId newstartdate">
            <input
            message="tns:WSMigrationHelper_modifyStartDate_Request_Soap"/>
            <output
            message="tns:WSMigrationHelper_modifyStartDate_Response_Soap"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
    </portType>
    <binding name="WSMigrationHelper" type="tns:WSMigrationHelper">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="exportThirdPartyStatisticsByCampaignId">
            <map:java-operation name="exportThirdPartyStatisticsByCampaignId"
                signature="KExqYXZhL2xhbmcvTG9uZzspW0xkZS9hZHRlY2gvaGVsaW9zL0FPTE1pZ3JhdGlvbi9UaGlyZFBhcnR5U3RhdGlzdGljc0RhdGE7">
                <map:fault java-type="java.lang.Exception" name="Exception"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AOLMigration/WSMigrationHelper#exportThirdPartyStatisticsByCampaignId?KExqYXZhL2xhbmcvTG9uZzspW0xkZS9hZHRlY2gvaGVsaW9zL0FPTE1pZ3JhdGlvbi9UaGlyZFBhcnR5U3RhdGlzdGljc0RhdGE7"
                style="document"/>
            <input>
                <soap:body parts="campaignId" use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="importThirdPartyStatistics">
            <map:java-operation name="importThirdPartyStatistics"
                signature="KExqYXZhL2xhbmcvTG9uZztMamF2YS9sYW5nL0xvbmc7TGphdmEvbGFuZy9Mb25nO0xqYXZhL2xhbmcvTG9uZzspVg==">
                <map:fault java-type="java.lang.Exception" name="Exception"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AOLMigration/WSMigrationHelper#importThirdPartyStatistics?KExqYXZhL2xhbmcvTG9uZztMamF2YS9sYW5nL0xvbmc7TGphdmEvbGFuZy9Mb25nO0xqYXZhL2xhbmcvTG9uZzspVg=="
                style="document"/>
            <input>
                <soap:body
                    parts="campaignId impressionsDelta clicksDelta viewsDelta"
                    use="literal"/>
            </input>
            <output>
                <soap:body parts="" use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyStartDate">
            <map:java-operation name="modifyStartDate"
                signature="KExqYXZhL2xhbmcvTG9uZztMamF2YS91dGlsL0RhdGU7KVY=">
                <map:fault java-type="java.lang.Exception" name="Exception"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/helios/AOLMigration/WSMigrationHelper#modifyStartDate?KExqYXZhL2xhbmcvTG9uZztMamF2YS91dGlsL0RhdGU7KVY="
                style="document"/>
            <input>
                <soap:body parts="campaignId newstartdate" use="literal"/>
            </input>
            <output>
                <soap:body parts="" use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="WSMigrationHelper">
        <port binding="tns:WSMigrationHelper" name="WSMigrationHelper">
            <soap:address
            location="http://swd-franz.adtech.de:6060/WSMigrationHelper/"/>
        </port>
    </service>
</definitions>
