lib/ext/HeliosWSClientSystem_1.10.1/WSReportAccessSettingsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    name="de.adtech.webservices.helios.lowLevel.ReportAccessSettingsService.WSReportAccessSettingsService"
    targetNamespace="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/ReportAccessSettingsService/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:map="http://systinet.com/mapping/"
    xmlns:ns0="http://systinet.com/xsd/SchemaTypes/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/ReportAccessSettingsService/">
    <types>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://systinet.com/wsdl/de/adtech/helios/ReportManagement/"
            xmlns:ns0="http://systinet.com/xsd/SchemaTypes/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:tns="http://systinet.com/wsdl/de/adtech/helios/ReportManagement/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="ReportAccessSettings">
                <xsd:annotation>
                    <xsd:appinfo>
                        <map:java-type
                        name="de.adtech.helios.ReportManagement.ReportAccessSettings"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="aggregationTimeRange" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="consumerStatus" type="xsd:int"/>
                    <xsd:element name="dataSource" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="dataSourceSubType" nillable="true"
                        type="xsd:string"/>
                    <xsd:element name="lastOptimizerRun" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element name="lastStatisticsUpdate" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element name="lastSubscriptionGenerate" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element name="lastUpdate" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element name="mainNetwork" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="mainNetworkId" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="maxEndDate" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element name="minStartDate" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element name="status" type="xsd:int"/>
                    <xsd:element name="subNetwork" nillable="true"
                        type="xsd:long"/>
                    <xsd:element name="subNetworkId" nillable="true"
                        type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://systinet.com/xsd/SchemaTypes/"
            xmlns:map="http://systinet.com/mapping/"
            xmlns:ns0="http://systinet.com/xsd/SchemaTypes/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:tns="http://systinet.com/xsd/SchemaTypes/"
            xmlns:xns4="http://systinet.com/wsdl/de/adtech/helios/ReportManagement/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import
            namespace="http://systinet.com/wsdl/de/adtech/helios/ReportManagement/"/>
            <xsd:element name="AGGREGATION_TIMERANGE" nillable="true"
                type="xsd:string"/>
            <xsd:element name="datasource" nillable="true" type="xsd:string"/>
            <xsd:element name="ReportAccessSettings_Response" nillable="true"
                type="xns4:ReportAccessSettings"/>
            <xsd:element name="idoox-java-mapping.java.lang.Exception"
                nillable="true" type="xsd:anyType"/>
        </xsd:schema>
    </types>
    <message name="Exception">
        <part element="ns0:idoox-java-mapping.java.lang.Exception"
            name="idoox-java-mapping.java.lang.Exception"/>
    </message>
    <message name="WSReportAccessSettingsService_getReportAccessSettings_Request_Soap">
        <part element="ns0:AGGREGATION_TIMERANGE" name="AGGREGATION_TIMERANGE"/>
        <part element="ns0:datasource" name="datasource"/>
    </message>
    <message name="WSReportAccessSettingsService_getReportAccessSettings_Response_Soap">
        <part element="ns0:ReportAccessSettings_Response" name="response"/>
    </message>
    <portType name="WSReportAccessSettingsService">
        <operation name="getReportAccessSettings"
            parameterOrder="AGGREGATION_TIMERANGE datasource">
            <input
            message="tns:WSReportAccessSettingsService_getReportAccessSettings_Request_Soap"/>
            <output
            message="tns:WSReportAccessSettingsService_getReportAccessSettings_Response_Soap"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
    </portType>
    <binding name="WSReportAccessSettingsService"
        type="tns:WSReportAccessSettingsService">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getReportAccessSettings">
            <map:java-operation name="getReportAccessSettings"
                signature="KExqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9SZXBvcnRNYW5hZ2VtZW50L1JlcG9ydEFjY2Vzc1NldHRpbmdzOw==">
                <map:fault java-type="java.lang.Exception" name="Exception"/>
            </map:java-operation>
            <soap:operation
                soapAction="http://systinet.com/wsdl/de/adtech/webservices/helios/lowLevel/ReportAccessSettingsService/WSReportAccessSettingsService#getReportAccessSettings?KExqYXZhL2xhbmcvU3RyaW5nO0xqYXZhL2xhbmcvU3RyaW5nOylMZGUvYWR0ZWNoL2hlbGlvcy9SZXBvcnRNYW5hZ2VtZW50L1JlcG9ydEFjY2Vzc1NldHRpbmdzOw=="
                style="document"/>
            <input>
                <soap:body parts="AGGREGATION_TIMERANGE datasource"
                    use="literal"/>
            </input>
            <output>
                <soap:body parts="response" use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="WSReportAccessSettingsService">
        <port binding="tns:WSReportAccessSettingsService"
            name="WSReportAccessSettingsService">
            <soap:address
            location="http://swd-franz.adtech.de:6060/WSReportAccessSettingsService/"/>
        </port>
    </service>
</definitions>
